* {
  box-sizing: border-box;
}

/*
	Header
*/
header {
  padding: 10px 10px;
  display: grid;
  grid-template-areas: "logo search search  menu";
}

.logo {
  grid-area: logo;
  margin: 0;
  margin-top: 0;
  color: blue;
  max-width: 100%;
}

.logo a {
  text-decoration: none;
}

.logo a:visited {
  color: blue;
}

.form-search {
  margin-top: 5px;
  grid-area: search;
  height: 35px;
  display: grid;
  grid-template-areas: "q-search q-search btn-search";
  column-gap: 10px;
}

.btn-search {
  grid-area: btn-search;
  font-weight: bold;
  width: 40px;
  border: 2px solid #dadada !important;
}

.q-search {
  grid-area: q-search;
  padding: 8px;
  border-radius: 3px;
  border: none;
  background: #f4f4f4;
}

.menu {
  grid-area: menu;
}

.menu li {
  list-style-type: none;
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  margin-right: 0 !important;
  color: black;
}

/*
	Body
*/

h3,
.center {
  text-align: center;
}

.alert {
  font-size: 1.1em;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.edit,
.delete {
  width: 20px;
  margin-left: 10px;
  display: inline-block;
}

.container {
  margin: auto;
  width: 90%;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.settings li {
  list-style-type: none;
}

.settings li a {
  text-decoration: none;
  color: black;
  display: block;
}

.settings li a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid #dadada;
  font-family: inherit;
  font-size: 0.9em;
  min-height: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 90%;
}

select {
  width: 60%;
}

.del-add,
.menu li a {
  min-width: 25%;
  padding: 5px 7px;
  margin-top: 40px;
  margin-right: 20px;
}

.del-add,
.btn-search,
.menu li a {
  background-color: #fff;
  border: 2px solid #dadada;
  border-radius: 3px;
  font-weight: bold;
}

.del-add:hover,
.btn-search:hover,
.menu li a:hover {
  color: blue;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 2px;
}

.form-press {
  display: grid;
  grid-template-areas: "form-press-left form-press-right";
}

.form-press-left {
  grid-area: form-press-left;
}

.form-press-right {
  grid-area: form-press-right;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: blue;
  background-color: white;
  border: 1px solid #0000e33b;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: initial;
  cursor: pointer;
  font-weight: normal;
}

.genre {
  display: inline-block;
  text-decoration: none;
  color: black !important;
  background-color: none;
  border: 1px solid #dadada;
  border-radius: 30px;
  padding: 3px 10px;
  font-size: inherit;
  cursor: pointer;
  margin: 5px;
  font-weight: normal;
}

.genre:hover {
  /*color:blue;*/
  border: 1px solid #a6a3a3;
  text-decoration: none !important;
}

.button:hover {
  border: 1px solid blue;
}

img {
  max-width: 100%;
}

.svg,
input[type="checkbox"] {
  vertical-align: middle;
}

/*
	affichage d'erreur
*/
.error,
.field-error {
  border: 2px solid tomato !important;
}

.error {
  text-align: center;
}

.field-error {
  color: black;
}

.page-error,
.form-error,
.error {
  color: tomato;
}

.success {
  border: 2px solid #4edb4e;
  color: #4edb4e;
}

.parent-press {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  column-gap: 5px;
  row-gap: 5px;
}

.press {
  border-radius: 5px;
  padding: 0.5em;
  overflow: auto;
  max-height: 300px;
  /*height: min-content;*/
}

.link {
  background-color: #c0e5f1;
}

.text {
  background-color: #f1e9e9;
}
.press p a {
  text-decoration: none;
  color: black;
}

.press p a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 0.9em;
  }

  header {
    grid-template-areas:
      "logo"
      "search"
      "menu";
  }

  .menu li a {
    font-weight: bold;
  }
  .parent-press {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .press {
    max-height: 200px;
  }

  .form-press {
    grid-template-areas:
      "form-press-left"
      "form-press-right";
  }

  .btn-add-press {
    display: inline-block;
    margin-top: 10px;
  }

  select,
  input {
    width: 100%;
  }

  .del-add,
  .menu li a {
    margin-top: 0;
    color: blue;
    width: fit-content;
  }

  h2 .button {
    border: 1px solid blue;
    font-size: 0.7em;
  }
}

/*
	Footer
*/
footer {
  background-color: #7b7272;
  color: white;
  padding: 20px;
  margin-top: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}
