RewriteEngine On

RewriteRule ^login$ users/login
RewriteRule ^signup$ users/signup
RewriteRule ^logout$ users/logout
RewriteRule ^restore$ users/restore
RewriteRule ^renew/(.*)$ users/renew/$1

RewriteRule ^settings/?(.*)$ users/settings/$1

RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1
RewriteCond %{QUERY_STRING} ^q=(.*)$
RewriteRule ^([a-zA-Z0-9\-\_\/\?]*)$ index.php?p=$1/%1



